<!DOCTYPE html>
{% load bootstrap3 %}
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <script src="{% static 'jquery-2.1.0.min.js' %}"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link type="text/css" href="{% static 'shoplist.css' %}" rel="stylesheet"/>
        <title>Shoplist</title>
    </head>
    <body>
        <div class="container-fluid">
        {% block content %}
            Content falls here
        {% endblock %}
        </div>
        <script src="{% static 'shoplist.js' %}"></script>
    </body>
</html>
