<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <script src="{% static shoplist.css %}jquery-2.1.0.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link type="text/css" href="{% static shoplist.css %}shoplist.css" rel="stylesheet"/>
    <title>Shoplist</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-4"></div>
      	<div class="col-md-4">
	  {% bootstrap_messages %}
      	  <h2>{{ shoplist.name }}</h2>
      	</div>
      	<div class="col-md-4"></div>
      </div>


      <ul class="form-signin list-group" style="list-style-type: none;">
	{% for item in shoplist.shopitem_set.all %}
	<li class="list-group-item" value="{{ item.id }}"><a href="{% url 'item' shoplist_name=shoplist.name item_id=item.id %}" style="text-decoration: none;">{{ item.name }}</a></li>
	{% endfor %}
      </ul>

      <form class="form-signin" action="{% url 'shoplist' shoplist_name=shoplist.name %}" method="post">
	<div class="row">
	  {% csrf_token %}
	  {% bootstrap_form form %}
	</div>
	<div class="row">
	  <button class="btn btn-lg btn-primary btn-block" type="submit">New Item</button>
	</div>
      </form>
    </div>
    <script src="{% static shoplist.js %}shoplist.js"></script>
  </body>
</html>
